<h1>Listing devices</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Token</th>
      <th>Enabled</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Platform</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.user_id %></td>
        <td><%= device.token %></td>
        <td><%= device.enabled %></td>
        <td><%= device.created_at %></td>
        <td><%= device.updated_at %></td>
        <td><%= device.platform %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
